body {
	font-family: arial, sans-serif;
	margin: 40px 0 40px 40px;
}
.mainContainer {
	width: 100%;
	text-align: center;
}
.mainContainer .container {
	display: inline-block;
	width: 50%;
	min-width: 600px;
	padding-right: 40px;
	margin-bottom: 30px;
	vertical-align: top;
	text-align: left;
	box-sizing: border-box;
}
.mainContainer .container .picture {
	height: 85px;
	display: inline-block;
	vertical-align: top;
	width: 85px;
	float: left;
	position: absolute;
}
.mainContainer .container .picture img {
	border-radius: 5px;
}
.mainContainer .container .text {
	display: inline-block;
	vertical-align: top;
	margin-left: 85px;
	padding-left: 30px;
	box-sizing: border-box;
	text-align: left;
}
.mainContainer .container .text h2 {
	margin: 0 0 10px;
	font-size: 22px;
	color: #637f83;
}
.mainContainer .container .text p {
	margin: 0;
	font-size: 14px;
	color: #959595;
	text-align: justify;
	line-height: 2em;
}
.mainContainer .container .text a {
	text-decoration: none;
	color: #e4551d;
}
.mainContainer .container .text a:hover {
	text-decoration: underline;
}
